/* .newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.newsletter p{
    color: #454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
    
}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
} */
 .newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1 {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p {
    color: #454545;
    font-size: 20px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    padding: 0 20px;
}

.newsletter input {
    width: 100%;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
    padding: 0 15px;
}

.newsletter div button {
    width: 200px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



/* ---------------------------------------------------
   RESPONSIVE (Single Query Stack)
---------------------------------------------------- */

/* Tablet */
@media (max-width: 992px) {
    .newsletter {
        width: 85%;
        padding: 0px 60px;
    }

    .newsletter h1 {
        font-size: 45px;
    }

    .newsletter div {
        width: 600px;
    }
}

/* Mobile Large */
@media (max-width: 768px) {
    .newsletter {
        width: 90%;
        padding: 0px 20px;
        height: auto;
        text-align: center;
    }

    .newsletter h1 {
        font-size: 35px;
    }

    .newsletter p {
        font-size: 18px;
    }

    .newsletter div {
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 15px;
        padding: 20px;
    }

    .newsletter input {
        width: 100%;
        margin: 0;
        font-size: 15px;
    }

    .newsletter div button {
        width: 100%;
        height: 55px;
        font-size: 15px;
    }
}

/* Mobile Small */
@media (max-width: 480px) {
    .newsletter h1 {
        font-size: 28px;
    }

    .newsletter div {
        padding: 15px;
        gap: 10px;
    }

    .newsletter div button {
        height: 50px;
        font-size: 14px;
    }
}
