.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: rgb(36, 36, 36);
  font-size: 38px;
  font-weight: 600;
}

/* MENU */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #FF4141;
}

/* LOGIN + CART */
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
}

.profile {
  font-size: 50px;
  cursor: pointer;
  color: #515151;
}

/* HAMBURGER DROPDOWN */
.nav-dropdown {
  width: 40px;
  display: none;
  cursor: pointer;
}


/* ----------------------------- */
/*         RESPONSIVE            */
/* ----------------------------- */

@media(max-width:1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .nav-logo p {
    font-size: 25px;
  }

  .nav-menu {
    gap: 30px;
  }
}

@media(max-width:1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }

  .nav-login-cart img {
    width: 25px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
  }
}


/* ----------------------------- */
/* HAMBURGER MODE (800px) */
/* ----------------------------- */
@media(max-width:800px) {

  .navbar {
    padding: 10px 20px;
    justify-content: space-between;
  }

  .nav-dropdown {
    display: block;
    width: 30px;
    transform: rotate(-90deg);
    transition: 0.4s;
  }

  .nav-dropdown.open {
    transform: rotate(8deg);
  }

  /* HIDE MENU INITIALLY */
  .nav-menu {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    padding: 30px 0 0 250px;
    gap: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    
  }

  /* SHOW WHEN TOGGLED */
  .nav-menu-visible {
    display: flex !important;
  }
}


/* ----------------------------- */
/* MOBILE (500px) */
/* ----------------------------- */
@media(max-width:500px) {

  .navbar {
    padding: 8px 15px;
  }

  .nav-logo {
    transform: scale(0.8);
  }

  .nav-login-cart {
    transform: scale(0.85);
  }

  .nav-menu {
    top: 90px;
    padding-left: 120px;
  }
}