.cartitem{
    margin: 100px 0px;
}
.cartitem hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitem-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size:18px;
    font-weight: 600;
}
.cartitem-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ededed;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitem-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitem-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}
.cartitems-promocode p{
    color: #555;
}
.cartiten-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartiten-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartiten-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}
 /* ---------------------- DESKTOP STYLES ---------------------- */

/* .cartitem {
    margin: 100px 0;
}

.cartitem hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitem-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitem-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitem-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ededed;
    background: #fff;
}

.cartitems-down {
    display: flex;
    margin: 100px 0;
}

.cartitem-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitem-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.cartitems-promocode p {
    color: #555;
}

.cartiten-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartiten-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartiten-promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}
 */

/* ---------------------- RESPONSIVE MEDIA QUERY ---------------------- */

@media (max-width: 1024px) {
    .cartitem-format-main {
        grid-template-columns: 1fr 2fr 1fr 1fr;
        gap: 40px;
    }

    .cartitem-total {
        margin-right: 100px;
    }

    .cartiten-promobox {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 10px;
    }

    .cartiten-promobox input {
        width: 100%;
    }

    .cartiten-promobox button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cartitem-format-main {
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        font-size: 16px;
    }

    .cartitems-down {
        flex-direction: column;
        gap: 20px;
    }

    .cartitem-total {
        margin-right: 0;
        width: 100%;
    }

    .cartitem-total button {
        width: 100%;
    }

    .cartitems-promocode {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cartitem-format-main {
        grid-template-columns: 1fr;
        gap: 15px;
        font-size: 14px;
    }

    .cartitems-remove-icon {
        margin: 0;
    }

    .cartitem-quantity {
        width: 50px;
        height: 40px;
    }

    .cartitem-total button {
        height: 50px;
        font-size: 14px;
    }

    .cartiten-promobox input {
        font-size: 14px;
        height: 40px;
    }

    .cartiten-promobox button {
        height: 50px;
        font-size: 14px;
    }
}
