.product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.product-form input,
.product-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 8px;
}
.product-form input,
.product-form select{
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 8px;
}


.btn-group {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 16px;
}

.create {
  background: green;
}

.update {
  background: orange;
}

.delete {
  background: red;
}
